<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ClaimReport</servlet-name>
  	<display-name>ClaimReport</display-name>
  	<description></description>
  	<servlet-class>com.cg.oicrs.controller.ClaimReport</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserCreation</servlet-name>
  	<display-name>UserCreation</display-name>
  	<description></description>
  	<servlet-class>com.cg.oicrs.controller.UserCreation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.cg.oicrs.controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClaimCreate</servlet-name>
  	<display-name>ClaimCreate</display-name>
  	<description></description>
  	<servlet-class>com.cg.oicrs.controller.ClaimCreate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserCreation</servlet-name>
  	<url-pattern>/UserCreation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClaimCreate</servlet-name>
  	<url-pattern>/ClaimCreate</url-pattern>
  </servlet-mapping>
</web-app>
